body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #646464;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid #0477c4;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0477c4;
  transition: ease-out 0.3s;
}

.navbar a:hover {
  color: #ffffff;
  box-shadow: inset 0 -100px 0 0 #0477c4;
}

.container {
  padding: 18px;
  margin-top: 50px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

li img {
  margin-right: 5px;
  max-height: 15px;
}

li.unknown img {
  content: url("../img/file.png");
}
li.unknown a {
  color: #969696;
}

li.document img {
  content: url("../img/doc.png");
}
li.document a {
  color: rgb(102, 172, 212);
}

li.script img {
  content: url("../img/script.png");
}
li.script a {
  color: #60c090;
}

li.android img {
  content: url("../img/android.png");
}
li.android a {
  color: #92C755;
}
li.application img {
  content: url("../img/application.png");
}
li.application a {
  color: #0078D7;
}
