.navbar {
  overflow: hidden;
  background-color: #646464;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #969696;
}

.container {
  padding: 18px;
  margin-top: 50.8px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

li.unknown a {
  color: #969696;
}
li.document a {
  color: #66acd4;
}
li.script a {
  color: #60c090;
}
