<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('upload_file') }}">Upload Files</a>
            <a href="{{ url_for('list_files') }}">File List</a>
            <a href="{{ url_for('clear_dir') }}">Cleanup directory</a>
        </div>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
