{
  "web": {
    "client_id": "CLIENT_ID",
    "client_secret": "CLIENT_SECRET",
    "auth_uri": "https://example.com/authorize/",
    "token_uri": "https://example.com/token/",
    "userinfo_uri": "https://example.com/userinfo/",
    "issuer": "ISSUER_URI",
    "redirect_uris": "https://APP_URI/callback"
  }
}